@{
    ViewData["Title"] = "Отчет для руководства";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using AntiTruble.ClassLibrary.Models;
@using AntiTruble.ClassLibrary.Enums;

@model IEnumerable<RepairInfo>

<div id="repair-list">
    <h2>Заявки:</h2>
    <hr />
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>№</th>
            <th>Статус ремонта</th>
            <th>Дата начала</th>
            <th>Завершение</th>
            <th>Клиент</th>
            <th>Тип ремонта</th>
            <th>Стоимость</th>
        </tr>
        @foreach (var repair in Model)
        {
            <tr>
                <td>
                    @repair.RepairId
                </td>
                <td>
                    @{
                        var listItems = new List<SelectListItem>();
                        listItems.Add(new SelectListItem
                        {
                            Text = "Заявка принята",
                            Value = RepairStatuses.Confirm.ToString()
                        });
                        listItems.Add(new SelectListItem
                        {
                            Text = "Устройство поступило в СЦ",
                            Value = RepairStatuses.EquipmentInCenter.ToString()
                        });
                        listItems.Add(new SelectListItem
                        {
                            Text = "Диагностика неисправности",
                            Value = RepairStatuses.Diagnostic.ToString()
                        });
                        listItems.Add(new SelectListItem
                        {
                            Text = "Устройство в процессе ремонта",
                            Value = RepairStatuses.Repair.ToString()
                        });
                        listItems.Add(new SelectListItem
                        {
                            Text = "Ожидается поставка комплектующих",
                            Value = RepairStatuses.WaitingParts.ToString()
                        });
                        listItems.Add(new SelectListItem
                        {
                            Text = "Устройство отремонтировано",
                            Value = RepairStatuses.CompletedRepair.ToString()
                        });
                        listItems.Add(new SelectListItem
                        {
                            Text = "Ожидает оплаты",
                            Value = RepairStatuses.PayWaiting.ToString()
                        });
                        listItems.Add(new SelectListItem
                        {
                            Text = "Возвращено клиенту",
                            Value = RepairStatuses.BackToClient.ToString()
                        });
                        listItems.Add(new SelectListItem
                        {
                            Text = "Заявка отклонена",
                            Value = RepairStatuses.Cancel.ToString()
                        });
                        listItems.Add(new SelectListItem
                        {
                            Text = "Заявка оплачена",
                            Value = RepairStatuses.Paid.ToString()
                        });
                        listItems.First(x => x.Value == repair.Status.ToString()).Selected = true;
                        var status = listItems.First(x => x.Value == repair.Status.ToString()).Text;
                    }
                    <input id="repairId" hidden="hidden" type="text" value="@repair.RepairId" />
                    @status

                </td>
                <td>@repair.StartDate.Value.ToShortDateString()</td>
                <td>@repair.EndDate.Value.ToShortDateString()</td>
                <td>@repair.Client.Fio</td>

                <td>
                    @{
                        var repairTypes = new List<SelectListItem>();
                        repairTypes.Add(new SelectListItem
                        {
                            Text = "Первичный",
                            Value = RepairTypes.FirstOfAll.ToString()
                        });
                        repairTypes.Add(new SelectListItem
                        {
                            Text = "По гарантии",
                            Value = RepairTypes.Guarantee.ToString()
                        });
                        var repairType = repairTypes.First(x => x.Value == repair.RepairType.ToString()).Text;
                    }
                    @repairType
                </td>
                <td>
                    @repair.Cost руб.
                </td>
            </tr>
        }
    </table>
    <div>
        <label>Итого:</label>
        @ViewBag.TotalCost рублей
    </div>
    </div>
