
@{
    ViewData["Title"] = "Менеджмент пользователей";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using AntiTruble.Person.JsonModels;
@using AntiTruble.ClassLibrary.Enums;
@model IEnumerable<PersonModel>

<div id="add-user"></div>

<div id="user-list">
    <h2>Пользователи системы:</h2>
    <hr />
    <div style="float: right; margin-bottom:10px;">
        <button style="width: 200px; height: 35px;" class="btn" id="addUser" onclick="onClickAddUser()">Добавить пользователя</button>
    </div>
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>ФИО</th>
            <th>Номер телефона</th>
            <th>Адрес</th>
            <th>Баланс</th>
            <th>Роль</th>
            <th>Действия</th>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    <input class="text" type="text" hidden="hidden" style="width:170px;" id="idTextBox" value="@user.PersonId" />
                    <input class="text" type="text" style="width:170px;height:33px;" id="fioTextBox" value="@user.Fio" />
                </td>
                <td>
                    <input type="text" style="height:33px;" id="phoneNumberTextBox" value="@user.PhoneNumber" />
                </td>
                <td>
                    <input type="text" style="height:33px;" id="addressTextBox" value="@user.Address" />
                </td>
                <td>
                    <input type="text" style="height:33px;" id="balanceTextBox" min="0" step="1" value="@user.Balance" />
                </td>
                <td>
                    @{
                        var listItems = new List<SelectListItem>();
                        listItems.Add(new SelectListItem
                        {
                            Text = "Администратор",
                            Value = ((int)PersonTypes.Administator).ToString()
                        });
                        listItems.Add(new SelectListItem
                        {
                            Text = "Клиент",
                            Value = ((int)PersonTypes.Client).ToString()
                        });
                        listItems.Add(new SelectListItem
                        {
                            Text = "Мастер",
                            Value = ((int)PersonTypes.Master).ToString()
                        });
                        listItems.First(x => x.Value == user.Role.Value.ToString()).Selected = true;
                    }
                    @Html.DropDownList("DDL", listItems, null, new { @id = "roleDDL", @class = "form-control" })
                </td>
                <td>
                    <button style="width: 75px; height: 25px;" class="mySuccess" id="updateUser" onclick="onClickUpdateUser(this.id)">Обновить</button>
                    <button style="width: 75px; height: 25px;" class="myDanger" id="deleteUser" onclick="onClickDeleteUser(this.id)">Удалить</button>
                </td>
            </tr>
        }
    </table>
</div>
<script type="text/javascript">
    var UIelements = ["idTextBox", "fioTextBox", "phoneNumberTextBox", "addressTextBox", "balanceTextBox", "roleDDL", "updateUser", "deleteUser"];

    function getSecondPart(str) {
        return str.split('_')[1];
    }

    $(document).ready(function () {
        for (i = 0; i < UIelements.length; i++) {
            var elementsById = document.querySelectorAll('[id=' + UIelements[i] + ']');
            for (j = 0; j < elementsById.length; j++) {
                var newID = UIelements[i] + "_" + j;
                $(elementsById[j]).attr('id', newID);
            }
        }
    });

    function getRowData(rowId) {
        return {
            "PersonId": $("#idTextBox_" + rowId).val(),
            "Fio": $("#fioTextBox_" + rowId).val(),
            "PhoneNumber": $("#phoneNumberTextBox_" + rowId).val(),
            "Address": $("#addressTextBox_" + rowId).val(),
            "Balance": $("#balanceTextBox_" + rowId).val(),
            "Role": $("#roleDDL_" + rowId).val(),
            "Password": ""
        }
    }

        function onClickAddUser() {
            $('#user-list').hide();
              var urlPath = '@Url.Action("AddUserView", "Person")';
              $.ajax({
                type: "GET",
                url: urlPath,
                dataType: "html",
                  success: function (data) {
                    $("#add-user").html(data);
                    },
                    error: function () {
                        alert("error");
                    }
                });
        }

    function validatePass(val) {
        if (val.trim() === "") {
            alert("Укажите пароль");
            return false;
        }
        if (val !== "") {
            if (val.length < 8) {
                alert("Пожалуйста, укажите пароль длиннее 8 символов");
                return false;
            }
        }
        return true;
    }

    function validatePhone(val) {
        if (val.trim() === "") {
            alert("Укажите номер");
            return false;
        }
        if (val !== "") {
            if (!(/^\+?[78][-\(]?\d{3}\)?-?\d{3}-?\d{2}-?\d{2}$/.test(val))) {
                alert("Пожалуйста, укажите правильное значение номер телефона. Примеры: \n89103123167, 7-910-221-22-22, +7(910)-221-22-22");
                return false;
            }
        }
        return true;
    }
    function validateDecimal(val) {
        if (val.trim() === "") {
            alert("Укажите значения");
            return false;
        }
        if (val !== "") {
            if (!(/^\d*(?:\,\d{0,4})?$/.test(val))) {
                alert("Пожалуйста, укажите правильные значения нецелочисленных полей");
                return false;
            }
        }
        return true;
    }

    function validateString(val) {
        if (val.trim() === "") {
            alert("Укажите значения");
            return false;
        }
        return true;
    }

    function validateInt(val) {
        if (val.trim() === "") {
            alert("Укажите значения");
            return false;
        }
        if (val !== "") {
            if (!(/^\d+$/.test(val))) {
                alert("Пожалуйста, укажите правильные значения целочисленных полей");
                return false;
            }
        }
        return true;
    }

    function validateFio(val) {
        if (val.trim() === "") {
            alert("Укажите фио");
            return false;
        }
        if (val !== "") {
            if (!(/^([А-ЯA-Z]|[А-ЯA-Z][\x27а-яa-z]{1,}|[А-ЯA-Z][\x27а-яa-z]{1,}\-([А-ЯA-Z][\x27а-яa-z]{1,}|(оглы)|(кызы)))\040[А-ЯA-Z][\x27а-яa-z]{1,}(\040[А-ЯA-Z][\x27а-яa-z]{1,})?$/.test(val))) {
                alert("Пожалуйста, укажите правильное значение ФИО");
                return false;
            }
        }
        return true;
    }

    function onClickUpdateUser(longId) {
        debugger;
        var rowId = getSecondPart(longId);
        var rowData = getRowData(rowId);
        if (!validateInt(rowData.PersonId) || !validateFio(rowData.Fio) || !validatePhone(rowData.PhoneNumber) ||
            !validateString(rowData.Address) || !validateDecimal(rowData.Balance))
        {
            return;
        }
        var urlPath = '@Url.Action("UpdateUser", "Person")';
          $.ajax({
              type: "POST",
              data: rowData,
              dataType: "json",
              url: urlPath,
              success: function () {
                  location.reload();
                  alert("Пользователь обновлен");
              },
              error: function () {
                  alert("error");
              }
            });
    }

    function onClickDeleteUser(longId) {
        var rowId = getSecondPart(longId);
        var personId = getRowData(rowId).PersonId;
        var urlPath = '@Url.Action("DeleteUser", "Person")';
        $.ajax({
            type: "POST",
            data: {
                "personId": personId
            },
              dataType: "json",
              url: urlPath,
              success: function () {
                  location.reload();
                  alert("Пользователь удален");
              },
              error: function () {
                  alert("error");
              }
            });
    }

</script>