@using AntiTruble.ClassLibrary.Enums
<h2>Создание заявки</h2>

<div class="col-md-12">
    <br />
    <div class="row">
        <label>Название устройства</label>
        <br />
        <input style="height:33px;" id="equipmentNameTbx" type="text" />
    </div>
    <br />
    <div class="row">
        <label>Тип устройства:</label><br />
        @{
            var equipTypesList = new List<SelectListItem>();
            equipTypesList.Add(new SelectListItem
            {
                Text = "Компьютерная техника",
                Value = ((int)EquipmentTypes.Computer).ToString()
            });
            equipTypesList.Add(new SelectListItem
            {
                Text = "Мобильное устройство",
                Value = ((int)EquipmentTypes.MobileDevice).ToString()
            });
            equipTypesList.Add(new SelectListItem
            {
                Text = "Иной девайс",
                Value = ((int)EquipmentTypes.OtherDevice).ToString()
            });
        }
        @Html.DropDownList("EquipTypesDDL", equipTypesList, null, new { @id = "EquipTypesDDL", @style = "width: 178px; height: 30px;", @class = "form-control" })
    </div>
    <br />
    <div class="row">
        <label>Тип заявки:</label><br />
        @{
            var listItems = new List<SelectListItem>();
            listItems.Add(new SelectListItem
            {
                Text = "Первичный ремонт",
                Value = ((int)RepairTypes.FirstOfAll).ToString()
            });
            listItems.Add(new SelectListItem
            {
                Text = "По гарантии",
                Value = ((int)RepairTypes.Guarantee).ToString()
            });
        }
        @Html.DropDownList("RepairTypesDDL", listItems, null, new { @id = "RepairTypesDDL", @style = "width: 178px; height: 30px;", @class = "form-control" })
    </div>
    <br />
    @if (ViewBag.Role == PersonTypes.Administator)
    {
        <div class="row">
            <label>Клиент:</label><br />
            @Html.DropDownList("clientDDL",
                    new SelectList(ViewBag.Clients),
                    "Клиент",
                    new { @id = "clientDDL", @style = "width: 178px; height: 30px;", @class = "form-control" })
        </div>
        <br/>
    }
</div>
<center>
    <button class="mySuccess" style="width: 178px; height: 30px;" id="addRepair" onclick="onClickAddRepair()">Создать</button>
</center>

<script type="text/javascript">

    function validateDecimal(val) {
        if (val.trim() === "") {
            alert("Укажите значения");
            return false;
        }
        if (val !== "") {
            if (!(/^\d*(?:\.\d{0,2})?$/.test(val))) {
                alert("Пожалуйста, укажите правильные значения нецелочисленных полей");
                return false;
            }
        }
        return true;
    }

    function validateInt(val) {
        if (val.trim() === "") {
            alert("Укажите значения");
            return false;
        }
        if (val !== "") {
            if (!(/^\d+$/.test(val))) {
                alert("Пожалуйста, укажите правильные значения целочисленных полей");
                return false;
            }
        }
        return true;
    }

    function validateString(val) {
        if (val.trim() === "") {
            alert("Укажите значения");
            return false;
        }
        return true;
    }

    function onClickAddRepair() {
        var equipmentNameTbx = $("#equipmentNameTbx").val();
        var equipType = $("#EquipTypesDDL").val();
        var repairType = $("#RepairTypesDDL").val();
        var clientFio = $("#clientDDL").val();
        if ("@ViewBag.Role" == "@PersonTypes.Administator" && clientFio == "") {
            alert("Укажите клиента");
            return;
        }
        if (!validateString(equipmentNameTbx) || !validateInt(equipType) || !validateInt(repairType))
        {
            return;
        }
        if ("@ViewBag.Role" == "@PersonTypes.Client")
            clientFio = "";
        var urlPath = '@Url.Action("AddRepair", "Repairs")';
        $.ajax({
            type: "POST",
            data:
            {
                "EquipmentName": equipmentNameTbx,
                "EType": equipType,
                "RType": repairType,
                "Client": clientFio
            },
            url: urlPath,
            success: function () {
                window.location.href = '@Url.Action("RepairList", "Repairs")';
                alert("Заявка создана");
            },
            error: function () {
                alert("error");
            }
        });
    }

</script>